/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  header {
    background-color: #5b3924;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  nav {
    background-color: #a1744f;
    padding: 1rem;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
  }
  
  h1 {
    color: #5b3924;
  }
  footer {
    background-color: #5b3924;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 30px;
    font-size: 0.9rem;
    border-top: 2px solid #a1744f;
  }